@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url("../fontes/idroid.otf") format('opentype');
    font-weight: normal;
}

/*
#c5ebd5
#83elad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/

:root {
    --cor0: #c5ebd5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', 'cursive';
    --fonte--android: 'android', 'cursive';

}

* {
    margin: 0px;
    padding: 0px;

}


body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: "\00A0\🔗";
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5));
    min-height: 100px;
    text-align: center;
    padding-top: 40px;

}

header>h1 {
    color: rgb(255, 255, 255);
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 2.5em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.329);
    font-weight: normal;
}

header > p {
    color: rgba(250, 250, 250, 0.973);
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    padding-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.329);
}

nav {
    background-color: var(--cor5);
    padding: 20px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.308);
}

nav>a {
    color:var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav>a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    box-shadow: 0px 0px 10px black;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: normal;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;

}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main h1 {
    color: var(--cor3);
    font-family: var(--fonte--android);
    font-weight: normal;
}

main h2 {
    font-family: var(--fonte--android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
    font-weight: normal;
}

main img {
    width: 100%;
}

main a {
    background-color: var(--cor1);
    padding: 2px 6px;
    color: var(--cor5);
    text-decoration: none;
    font-weight: bold;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

.pequena {
    max-width: 300px;
    display: block;
    margin: auto;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.280);
}

aside>h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;

}

aside>ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: "\✔️\00A0\00A0";
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    position: relative;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;

}

div.video>iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}